
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    font-family: "Urbanist", sans-serif;
    line-height: 1.4;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  --buttonColor: #00bcd4;
  --backgroundColor:#f7f7f7;
  --backgroundSecondary:#fefefe;
  --textColor:#1e1f23;
  --anchorColor: #00bcd4;
  --main-color:#111111;
  --glow-color:hsl(186,91%,4%);
  --heading-color:#ffffff;
  --secondaryColor: #4b4f56;
  --footer-color:#040d12;
  --primary-color:#00bcd4;
  --dark-text: #222;
  --light-text: #555;
  --bg-gradient: linear-gradient(to right, #8e9eab, #eef2f3);
  --card-bg: #fff;
  --box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);

}

html{
    font-size: 62.5%;
    color:var(--textColor);
    overflow-x: hidden;
}

body{
    margin: 0 auto;
    /* padding: 0 25px; */
    min-width: 320px;
    background-color: var(--backgroundColor);
    overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6{
    line-height: 1.1;
    color:var(--textColor);
}

p,
li,
a,
label{
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    color:var(--anchorColor);
    line-height: 1.5;
    font-weight: 400;
    list-style: none;
    text-decoration: none;
}

  
  /*! Layout*/
  .grid{
    display: grid;
  }
  .grid-two--column{
    grid-template-columns: repeat(2,1fr);
  }

  .grid-three--cols{
    grid-template-columns: repeat(3,1fr);
  }

  .grid-four--cols{
    grid-template-columns: repeat(4,1fr);
  }
    
  
  /*!module / reusable*/
  .anchor-button{
    font-size: 1.8rem;
    width:20rem;
    height: 3.2rem;
    border: 0.2rem solid var(--anchorColor);
    color:whitesmoke;
    background-color: var(--buttonColor);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 188, 212, 0.4);
    
    &:hover{
        cursor: pointer;
        background-color: #f7f7f7;
        color:#ffcc00;
        border:none;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        transform: translateY(-1px);
        -webkit-transform: translateY(-1px);
        -moz-transform: translateY(-1px);
        -ms-transform: translateY(-1px);
        -o-transform: translateY(-1px);
}
}
 
/*****NavBar section Start*****/
.navbar-section{
width: 100%;
box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
background-color:#333333; 
background-image: linear-gradient(135deg, #333333, #000000);
position: fixed;
top: 0;
z-index: 1000;
}


.navbar-section .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1.4rem;
    margin:0 17rem;

    & .navbar-brand{
        display: flex;
        gap:6rem;
    }

    & .navbar-logo .logo{
        font-size: 2.8rem;
        font-weight: bold;
        
        & .firstlet{
            color:rgb(16, 227, 156);
        }
    }
   

   
    & .navbar-list .list-items{
        display: flex;
        gap:3.2rem;
        text-transform: capitalize;
        align-items: center;

        & li a{
            color:var(--heading-color);
            font-weight: 600;
            text-transform: uppercase;
            font-size: 1.6rem;
            display: inline-block;
            position: relative;
                
            &:after{
                content: "";
                position: absolute;
                bottom:-0.3rem;
                left:0;
                width:0%;
                border-bottom: 0.2rem solid var(--anchorColor);
                transition: all 0.3s linear;
                -webkit-transition: all 0.3s linear;
                -moz-transition: all 0.3s linear;
                -ms-transition: all 0.3s linear;
                -o-transition: all 0.3s linear;
    }
            
    }
    & li a:hover{
        color:var(--buttonColor);
        &:after{
            width: 100%;
        }
    }
    & #cart-page--icon{
        width: 5rem;
        height:3rem;
        border:0.1rem solid  #00ffff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius:5px;
        gap: 0.3rem;
        background-color:transparent;
        color:var(--heading-color);
        font-size:1.8rem;
        font-weight: 600;
        border:none;
        transition: all 0.3s ease-in-out;

        &:hover{
            color:var(--anchorColor);
        }
}
    }

    & .mobile-nav-con{
        display:none;
        .mobile-icons{
            width: 4rem;
            height: 4rem;
            color:var(--heading-color);
            font-weight: bold;
        }
    }
  
    #cart-page--icon{
        color:var(--heading-color);
    }
}
/*****NavBar Section End*****/

/*****Hero-Section Start****/
main{
    min-height:100vh;
    position: relative;
    /* background-color:var(--main-color); */
     background-image: linear-gradient(135deg, #333333, #000000); 
    
      & .hero-section{
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }


      & .hero-section .grid{
        align-items: center;
        gap:6.4rem;
      
      }

  }

    .hero-section{
    .grid-two--column{
        margin:0 17rem;
    }
    & .Hero-subheading{
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-size: 1.7rem;
        word-spacing: 0.2rem;
        color: #9fdbe3;
        font-weight:900;

    }
    & .hero-heading{
        font-size: 4.5rem;
        line-height: 1.2;
        letter-spacing: 0.1rem;
        color:var(--buttonColor);
       

    }
    & .hero-paragraph{
        margin:2rem 0 4.2rem 0;
        color:var(--heading-color);
        font-size: 2rem;
        font-family: "Urbanist", sans-serif;
        letter-spacing: 0.1rem;
        text-align:left;
        word-spacing:2px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    }
   
  }

  .hero-section img{
    width:77%;
    height: auto;
    
}

/*****end-hero section****/

/*****start extra data section*****/
.extra-section{
    width: 100%;

    & .container{
        margin: 0 17rem;
        padding-top: 8rem;
        align-items: center;
        padding-bottom: 0rem;
        max-height: 95vh;
        

        & .extra-content{
           padding-bottom:3rem;
           margin-top:-2rem;
           padding-left: 2rem;
           padding-right: 4rem;
          

           & .extra-subheading{
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            font-size: 1.8rem;
            word-spacing: 0.2rem;
            color:var(--buttonColor);
            font-weight:900;
           }

           & .extra-heading{
            font-size: 3.7rem;
            line-height: 1.2;
            letter-spacing: 0.1rem;
            font-style: italic;
            color:var(--glow-color);
            margin-top: 1rem;
            margin-bottom: 1.7rem;

           }


           & .extra-paragraph{
              margin:2rem 0 2rem 0;
              color:#333333;
             font-size: 2rem;
             font-family: "Urbanist", sans-serif;
             letter-spacing: 0.1rem;
             text-align: justify;
              font-style: italic;
              text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
              font-weight: 600;

           }


           & .extra-pricetext{
            font-size: 1.8rem;
            font-style: italic;
            font-weight:bold;
            color:var(--textColor);
            text-transform: capitalize;
            padding-left: 2rem;
           }

          
           & .extra-price{
            font-size: 2rem;
            font-weight: bold;
            color:var(--anchorColor);
            padding: 0.7rem 2rem;
           }

           
        }
    }

   & .extra-image img{
  width:60%;
  height: auto;
  
}

& .extra-image{
  padding-bottom:3rem;
  transform: translateX(50px);
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(50px);
}
}

.extra-section .extra-content{
    transform: translateX(-7rem);
    -webkit-transform: translateX(-7rem);
    -moz-transform: translateX(-7rem);
    -ms-transform: translateX(-7rem);
    -o-transform: translateX(-7rem);
}

/*****end extra data section******/


/*****start extra feature section *****/
.section-extra--product .grid-three--cols{
    margin: 0 17rem;
    margin-bottom:5rem;
  }
  .div-extra{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:6rem;
    width:35rem;
    height: auto;
    background-color: var(--backgroundSecondary);
    .extra-text {
        padding-left: 2rem;
   & p{
        text-transform: uppercase;
        font-size:1.34rem;
        color:var(--secondaryColor);
        display: block;
        font-weight: 500;
    }
    & h3{
        font-size: 1.8rem;
        text-transform:capitalize;
        padding-top:1rem;
        padding-bottom: 1rem;
       
    }
    & a{
        color:var(--secondaryColor);
        text-transform: uppercase;
        margin-top:2rem;
        text-decoration-line: underline;
        -moz-text-decoration-line: underline;
        font-size: 1.5rem;
        font-weight:600;
}
    }   
    & .extra-img img{
        width: 22rem;
        height: auto;
        padding-right: 1.3rem;
    }
  }
/*****end extra feature section*****/

/*****Start main product section****/
.product-section{
    width: 100%;

    & .container{
        margin:0 17rem;
        margin-top: 10rem;

       & .product-head{
        font-size: 2.8rem;
        color:var(--main-color);
        margin-bottom: 1.7rem;
        padding-bottom: 2rem;
        padding-left: 2.5rem;
       }
        
        & .product-container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* More flexible */
             column-gap:3.5rem;  /* Adjust spacing between columns */
             row-gap:6.7rem;  /* Reduce row gap slightly */
             padding: 1rem;
             justify-content: center;
          }
    }
}

.product-card{
    max-width: 100%;
    height: auto;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 1.7rem;
    background-color: #ffffff;
    transition:all 0.3s linear;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -ms-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;

    &:hover
{
        cursor: pointer;
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
}

     & .card-img{
        display: flex;
        justify-content: center;
        align-items: center;
     }
}

.card-subhead {
    background-color: #e7d6d6;
    padding: 0.4rem 1.5rem;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    
  }
   
.product-card .product-img{
    width:78%;
    height: auto;
    text-align: center;
}

.product-heading{
    font-size: 1.8rem;
    color:var(--textColor);
    margin: 0 auto;
    padding-left: 2rem;
    text-align: center;
    padding-top: 1.5rem;
}
.product-rating{
    margin-top: 0.8rem;
    padding-left: 2rem;
    color:#FFD700;
    text-align: center;

}
.product-price{
    font-size: 1.8rem;
    color:var(--secondaryColor);
    padding-left: 2rem;
    font-weight: 600;
    text-align: center;
}
.addTo-cart--btn{
    width:16rem;
    height: 2.5rem;
    border:2px solid var(--glow-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    align-items: center;
    margin: auto;
    margin-top: 1rem;
    border-radius:7px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    -ms-border-radius:7px;
    -o-border-radius:7px;
    background-color: var(--glow-color);
    &:hover{
        background-color: var(--anchorColor);
        cursor: pointer;
        border:none;
    }
    

    & i
{
        font-size: 1.8rem;
        color:var(--heading-color);
    }
    & p{
        font-size: 1.56rem;
        font-weight: 600;
        color:var(--heading-color);
    }
}
/*****end main product section****/

/*****start customer reviews section*****/


.customer-reviews .container{
  margin: 0 17rem;
  padding: 6rem 0;
  margin-top: 7rem;
  margin-bottom: 3rem;
}

.customer-reviews .container .reviews-heading h2{
  font-size: 3rem;
  font-size: 2.8rem;
  color: var(--buttonColor);
  margin-bottom: 1.7rem;
  padding-bottom: 2rem;
 text-align: center;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-pagination{
  margin-top: 5rem;
  padding-top: 5rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper .swiper-slide  .main-div{
  width: 31rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  border-radius:12px;
  -webkit-border-radius:12px;
  -moz-border-radius:12px;
  -ms-border-radius:12px;
  -o-border-radius:12px;
  background-color: #ffffff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  margin: 2rem auto;
  cursor: pointer;

}

.mySwiper .swiper-slide  .main-div .image-div img{
 width: 19rem;
 height: auto;
 border-radius:50%;
 -webkit-border-radius:50%;
 -moz-border-radius:50%;
 -ms-border-radius:50%;
 -o-border-radius:50%;

}

.mySwiper .swiper-slide  .main-div .text-div .customer-reviewtext{
  font-size: 1.5rem;
  color: #333333; /* Dark Gray */
  margin: 2.2rem 0;
  font-weight: 700;
  width: 100%;
 }

 .swiper .swiper-wrapper .rating-stardiv i{
  color: #FFC107;
 }

/*****end customer reviews section******/



/******start single product details page******/
.single{
  padding:5rem 0;

  & .product-container{
    padding: 1rem 0;
  }
}
.product-container{
    & .grid-two--column{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:5rem;
        padding-left: 8rem;
       

        & .addTo-cart--btn{
            display: flex;
            align-self: flex-start;
            margin-left:1rem;
            margin-top:2.5rem;
        }

     
        
    }

    & .image-section img{
        width: 100%;
        height: auto;
    }

    & .text-section{
        #product-heading{
            font-size: 3rem;
            color:var(--textColor);
            font-weight: 600;
        }
        .product-rating{
            display: flex;
            align-self: flex-start;
            gap:0.5rem;
            font-size: 1.2rem;
        }
        .product-price{
            display: flex;
            align-self: flex-start;
            
            & #price{
                font-size: 2rem;
                font-weight: 600;
                color: var(--secondaryColor);
                padding-top:1rem;
            }

        }

        .product-description{
            .about-product{
                font-size: 2rem;
                font-weight: 600;
                color:var(--textColor);
                margin-top:1.5rem;
            }
            #description{
                width: 60%;
                font-size: 1.7rem;
                font-weight: 500;
                color:var(--secondaryColor);
                text-align: justify;
                margin-top:1.3rem;
            }  
        }

        .total-stock{
            display: flex;
            gap:0.5rem;
            margin-top: 2rem;

            & .stock-line{
                font-size: 2rem;
                font-weight: 400;
                color: var(--secondaryColor);
            }
            #stock{
                font-size: 2rem;
                font-weight: 400;
                color: var(--secondaryColor);
            }
        }


        .total-quantity{
            display: flex;
            align-items: center;
            gap:0.7rem;
            margin-top: 0.5rem;

            & .quantity-line{
                font-size: 2rem;
                font-weight: 400;
                color: var(--secondaryColor);
            }
            .increment,.valuebtn,
            .decrement{
                
                    width:3rem;
                    height: 2.2rem;
                    font-size:2rem;
                    color:var(--secondaryColor);
                    align-items: center;
    
                    &:hover{
                        cursor: pointer;
                        
                    }
                    
                
            }
        }
    }
}
/******end single product details page******/

/*****  Add to Cart page starts *****/

.addToCartElement {
  margin: 7rem 0;
  padding-top: 7rem;
}

.addToCartElement .container {
  margin: 2rem 17rem;
}

.addToCartElement .cart-heading {
  font-size: 3rem;
  color: var(--anchorColor);
  font-weight: bold;
  padding-bottom: 3.5rem;
  text-align: center;
}

#productCartContainer {
  display: flex;
  flex-direction: column;
}

#productCartContainer .cards {
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  border-top: 0.1rem solid #d8d8d8;
  border-right: 0.1rem solid #d8d8d8;
  border-left: 0.1rem solid #d8d8d8;
  border-radius: 0.5rem;
  margin-bottom: 1.7rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

#productCartContainer .cards .card {
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr 0.5fr 1fr 0.1fr;
  align-items: center;
  gap: 3.2rem;
}

#productCartContainer .productImage {
  width: 10rem;
}

#productCartContainer .productName {
  font-size: 1.8rem;
  
}

#productCartContainer .productPrice {
  font-size: 1.8rem;
  color: var(--secondaryColor);
  font-weight: bold;
}

#productCartContainer .stockElement {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  background-color: var(--heading-color);
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 0.6rem;
  padding: 1rem 1.5rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}

.stockElement .productQuantity {
  font-size: 2rem;
  color: var(--secondaryColor);
  font-weight: 600;
}

.stockElement button {
  font-size: 2.2rem;
  font-weight: bold;
  padding: 0.6rem 1rem;
  color: #333;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.stockElement button:hover {
  background-color: #e6e6e6;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#productCartContainer .remove-to-cart-button {
  background-color: #000;
  color: #fff;
  padding: 0.6rem 0.7rem;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.8rem;
  cursor: pointer;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}

.cart-summary-container {
  width: 50%;
  margin: 0 auto;
  margin-top: 6rem;
}

.total-amount-box {
  width: 100%;
  border: 2px solid #ccc;
  padding: 0.7rem;
  margin-bottom: 1rem;
  background-color: #f9f9f9;
}

.total-amount {
  font-size: 1.8rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  color: var(--secondaryColor);
}

.cart-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

.btn {
  padding: 0.6rem 1.4rem;
  font-size: 1.8rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  background-color: #4CAF50;
  color: white;
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.btn:hover {
  background-color: #45a049;
}


/****start about page code*****/

.about-page{
   font-family: 'Inter', sans-serif;
  line-height: 1.6;
  color: var(--dark-text);
  background: var(--bg-gradient);
  margin:0 17rem;
  padding-top: 10rem;
  background: none;
  background-color: transparent;
}

.about-grid {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.about-hero {
  padding: 5rem 0 3rem;
  text-align: center;
}

.about-hero h1 {
  font-size:3rem;
  font-weight: 700;
  color: var(--secondaryColor);
}

.about-hero h1 span {
  color: var(--primary-color);
}

.about-hero p {
  font-size:2.1rem;
  color: var(--light-text);
  max-width: 700px;
  margin: 2.3rem auto 0;
}

.about-section {
  padding: 4rem 0;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0rem;
  align-items: center;
}

.about-image img {
  width:60%;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  
}

.about-content h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--primary-color);
}

.about-content p {
  color: var(--light-text);
  margin-bottom: 1rem;
}

.about-values {
  background: #f9f9f9;
  padding: 4rem 0;
}

.values-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  text-align: center;
}

.value-card {
  background: var(--card-bg);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: transform 0.3s ease;

  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.value-card:hover {
  transform: translateY(-8px);
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px);
}

.value-card i {
  font-size:4rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.value-card h3 {
  margin-bottom: 0.5rem;
  font-size:2.1rem;
}

.value-card p {
  color: var(--light-text);
  font-size: medium;
}


/*****end about page code*****/

/*****start contact section page*****/

.contact-form{
  padding-top:0;
  padding-bottom: 15rem;
  margin: 0 17rem;
   display: grid;
   place-items: center;
}
.google-map{
  padding-top:15rem;

  & h2{
    font-size: 3rem;
    margin:0 25rem;
    padding-left: 10rem;  
    padding-bottom: 2rem; 
  }

  & .container-map{
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
}

.form-container{
    width: 35rem;
    max-width: 38rem;
    height: 44rem;
    background:white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    margin: auto;
    margin-top:10rem;
    text-align: center;

    & .form-title{
        font-size: 3rem;
        font-weight: 600;
        margin-top: 3rem;
        color:black;
    }
    & .underline{
        width:10%;
        height: 2px;
        color:black;
        border:3px solid black;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        margin: auto;
        margin-top:0.3rem;
}
}

.form-container .form-text{
    margin-top: 3.2rem;
    & .input-text{
        width: 75%;
        height: 3.7rem;
        background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
        margin: 0 4rem 2rem 4rem;
        display: flex;
        align-items: center;
        padding-left: 2rem;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
        text-align: center;
        & i{
            font-size: 1.8rem;
        }
        & input{
           margin-left: 1rem;
           font-size: 1.7rem;
           border: none;
           background-color:white;
           outline: none;
}
        & input::placeholder{
            font-size: 1.7rem;
        }
      
}
& .forget-pass{
    font-size: 1.8rem;
    font-weight: 500;
    padding: 2rem;
}
& .signin-signup{
    margin-top: 1rem;
      
    & .signup{
        font-size: 1.8rem;
        width: 10rem;
        height: 3rem;
        border: 2px solid black;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
        padding-right: 0.4rem;
        margin-right: 0.5rem;
        background-color:black;
        color:white;
        cursor: pointer;
}
.Disable{
    background-color:#333333;
    color:#cccccc;
    opacity: 0.48;
    
}
& .signin{
    font-size: 1.8rem;
    width: 10rem;
    height: 3rem;
    border: 2px solid black;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    padding-left: 0.4rem;
    margin-left: 0.5rem;
    background-color:black;
    color:white;
    cursor: pointer; 
}
}
}
.form-text .error{
    font-size: 1.7rem;
    color:red;
}

/*****end contact section page*****/


/*****start footer section****/
.footer-section{
    width: 100%;
    background-color: var(--footer-color);
    & .container{
        margin: 0 17rem;
        margin-top: 3rem;
        padding-top: 6rem;
        padding-left:2rem;
     
    }

    & .grid-four--cols{
        gap:2rem;
    }


}
.download-part .download-heading{
    font-size: 2rem;
    color:var(--heading-color);
}
.download-part .download-para{
    font-size: 1.5rem;
    color:#8e9eab;
    width:34rem;
    margin-top: 1.6rem;
}
.download-ico{
    width: 20rem;
    height: auto;
    background-color:var(--heading-color);
    border: 3px solid var(--heading-color);
    margin-top: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.7rem;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

    & .fa-google-play{
        font-size: 3rem;
    }

    & .google-content{
        & .download-subhead{
            font-size: 1.2rem;
            text-transform: uppercase;
            font-weight: bold;
            color:var(--secondaryColor);
            
        }
        & .download-mainhead{
            font-weight: bold;
            color:var(--textColor);
        
        }
    }  
    
}



.navbar-log .logo{
    font-size: 2.8rem;
    font-weight: bold;
    padding-left: 8rem;
    margin-left: 4rem;
    
    & .firstlet{
        color:rgb(16, 227, 156);
    }
}
.logo-content .logo-para{
    width: 42rem;
    font-size: 1.6rem;
    color:#8e9eab;
    margin-top: 1.6rem;
    
}

.links-parts .links-heading{
    font-size: 2rem;
    color:var(--heading-color);
    text-transform: capitalize;
    width:15rem;
    text-align: center;
}
.links-lits li{
    font-size: 1.6rem;
    color:#8e9eab;
   text-align: center;
   text-transform: capitalize;
}

.links-lits {
    margin-top: 1rem;
}
hr{
    width:75%;
 margin: 0 auto;
 margin-top:4rem;
 margin-bottom: 1rem;
}
.copyright-parts{
    text-align: center;
    padding: 1rem 0;
    font-size: 1.6rem;
    color:#8e9eab;
   text-align: center;
   text-transform: capitalize;
}
/*****end footer section*****/


/****start responsive code*****/

/* Media Queries for Responsiveness */

/* Desktop Large Screens */
@media (max-width: 1368px) {
    html {
      font-size: 62.5%;
    }
  
    .navbar-section .container {
      padding: 1.2rem;
      margin: 0 13rem;
  
      & .navbar-brand {
        display: flex;
        gap: 3.7rem;
      }
    }
  
    .hero-section .grid {
      align-items: center;
      gap: 7rem;
    }
  
    .hero-section img {
      width: 80%;
      height: auto;
    }
  
    .hero-section .hero-heading {
      font-size: 3.8rem;
    }
    .extra-section .container .extra-content .extra-heading{
      font-size:3rem;
    }

      .section-extra--product .grid-three--cols{
        margin-bottom: 1rem;
        gap:2rem;
        margin-right:20rem;
        margin-left: 12rem;
      }
      .section-extra--product .container .div-extra{
        width: 33rem;
        height: auto;
      }
      .section-extra--product .container .div-extra .extra-text h3{
       font-size: 1.7rem;
       width:110%;
      }
      .section-extra--product .container .div-extra .extra-text a{
       font-size: 1.4rem;
       }

      .section-extra--product .container .div-extra .extra-img img{
        width:18rem;
        height: auto;
        padding-right: 1rem;
    }

    .product-section .container{
      margin: 0 11rem;

      & .product-head {
        margin-top:10rem;
    }
    }

    .product-section .container .product-container{
      display: grid;
      column-gap: 2rem;
      grid-template-columns: repeat(4,1fr);
      row-gap: 7rem;
    }

    .product-card{
      max-width:90%;
      padding-left:2rem;
      display: grid;
      place-items: center;

      & .card-img {
        margin: 2.5rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

      }

      .product-heading{
      padding-top:0rem;
     }

      .customer-reviews .container{
        margin: 0 11rem;
      }

      .customer-reviews .container{
        margin-top: 6rem;
      
      }

      .footer-section .container{
        margin: 0 7rem;

      }
      .footer-section {
        & .grid-four--cols {
            gap: 1rem;
        }
    }

    /* for single product details page code. */

  .single{
    padding-top: 10rem;
    padding-bottom: 5rem;
  }
  
    .products {
        padding-top:3rem;
        padding-bottom:0;
    }

  .single .product-container{
    margin: 5rem 0;
  }

  .product-container .text-section  .product-description{
    & #description{
      width: 80%;
  } 
  }

  /* code for the contact page section */
  .contact-form{
  margin: 0 11rem;
}

  .google-map h2{

    font-size: 3rem;
    margin:0 20rem;
    padding-left: 5rem;  
    padding-bottom: 2rem; 
  }

  /* code for the about page */
  .about-image img {
    width:70%; 
}

 .about-content p {
   color: var(--light-text);
   width:100%;
  }
  .about-page{
   margin:0 12rem;
}

}

     
  /* Laptop */
  @media (max-width: 1200px) {
    html {
      font-size: 60%;
    }
  
    .navbar-section .container {
      padding: 1.5rem;
      margin: 0 10rem;
  
      & .navbar-brand {
        gap: 3.5rem;
      }
    }
  
    .hero-section .hero-heading {
      font-size: 3.6rem;
    }
  
    .hero-section img {
      width: 80%;
      height: auto;
    }

    .extra-section .container .extra-image img{
      width: 70%;
      height: auto;
    }
    .extra-section .container .extra-content{
      padding-left: 7rem;
      padding-right: 0rem;
    }
    .extra-section .container .extra-content .extra-heading{
      font-size:2.8rem;
    }

    .footer-section .container{
      margin: 0 4rem;
    }

  }

  @media (max-width:1150px){

    .section-extra--product .container .div-extra{
      width: 30rem;
      height: auto;
    }

    .product-card{
      max-width:100%;
      padding-left:2rem;
      display: grid;
      place-items: center;
    }

    .product-section .container .product-container{
      display: grid;
      column-gap: 4rem;
      grid-template-columns: repeat(4,1fr);
      row-gap: 7rem;
    }

    .footer-section .container{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      place-items: center;
    }

    .footer-section {
      & .grid-four--cols {
          display: grid;
          row-gap: 7rem;
          column-gap: 0.6rem;

          & .links-parts{
            padding-right: 7rem;
          }
      }
  }
}

  @media(max-width:1085px){

    .navbar-section .container {
      padding: 1.5rem;
      margin: 0 8.5rem;
    }

    .hero-section .container{
      margin: 0 10rem;
    }
    .extra-section .container{
      margin: 0 10rem;
    }
    .customer-reviews .container{
      margin: 0 9rem;
    }

    .hero-section .hero-heading {
      font-size: 3.3rem;
    }
    .section-extra--product .grid-three--cols{
      margin-bottom: 1rem;
      gap:2rem;
      margin: 0 10rem;
      margin-right: 11rem;
    }

    .section-extra--product .container .div-extra .extra-img img{
      width:15rem;
      height: auto;
      padding-right: 1rem;
  }

  .section-extra--product .container .div-extra .extra-text h3{
    font-size: 1.6rem;
   }

   .section-extra--product .container .div-extra .extra-text a{
    font-size: 1.2rem;
    
   }

   .section-extra--product .container .div-extra{
    width: 27rem;
    height: auto;
  }

  .product-section .container{
    margin: 0 9rem;
  }
  .product-section .container .product-container{
    display: grid;
    column-gap: 2rem;
    grid-template-columns: repeat(3,1fr);
    row-gap: 7rem;
  }

  
  .product-card{
    max-width:80%;
    padding-left:2rem;
    display: grid;
    place-items: center;
  }

  .product-section .container .product-container{
    display: grid;
    column-gap:0;
    row-gap: 7rem;
  }

  .customer-reviews .container{
    margin-top: 6rem;
  
  }
  
 

  }
  
  /* Tablet */
  @media (max-width: 992px) {
    .navbar-section .container {
      margin: 0 6rem;
  
      & .navbar-brand {
        gap: 3rem;
      }

      & .navbar-list .list-items {
        gap: 1.7rem;
      }
  
      & .navbar-logo .logo {
        font-size: 2.7rem;
      }
    }
  
    .hero-section img {
      width:80%;
      height: auto;
    }
    .hero-section .container{
      margin: 0 10rem;
    }

    .hero-section .hero-heading {
      font-size: 3.3rem;
    }
  
    .hero-section .hero-paragraph {
      width: 100%;
      height: auto;
    }

    
    .hero-section .container{
      margin: 0 8rem;
    }

    .extra-section .container{
      margin: 0 8rem;
    }

    .extra-section .container .extra-image img{
      width: 70%;
      height: auto;
    }
    .extra-section .container .extra-content .extra-paragraph{
      width: 110%;
      
    }

    .section-extra--product .grid-three--cols{
      margin-bottom: 1rem;
      gap:2rem;
      margin: 0 7rem;
    }

    .product-section .container{
      margin: 0 7rem;
    }

    .customer-reviews .container{
      margin: 0 7rem;
    }

    .customer-reviews .container{
      margin-top: 6rem;
    
    }

    /* for single product details page. */

    .product-container {
       & .image-section img{
        width:130%;
        height: auto;
        padding-right: 5rem;
    }
  }

  .product-container{
    & .grid-two--column{
        gap: 7rem;
        padding-left: 4rem;
    }
  }
 
    .product-container .text-section {
      padding-left: 3rem;
  }

  /* code for the contact page */
    .contact-form{
      margin: 0 7rem;
}
  .google-map h2{

    font-size: 3rem;
    margin:0 10rem;
    padding-left: 5rem;  
    padding-bottom: 2rem; 
  }

  /* for the cartpage */
  .addToCartElement .container {
  margin: 2rem 7rem;
}

   /* code for the about page */
  .about-image img {
    width:80%; 
}

   .about-content p {
    color: var(--light-text);
    width:100%;
    }
   .about-page{
    margin:0 9rem;
  }

  }

  @media (max-width:920px){
    .section-extra--product .container .div-extra{
      width: 25rem;
      height: auto;
    }
  
    .section-extra--product .grid-three--cols{
      margin-bottom: 1rem;
      gap:2rem;
      margin: 0 6rem;
    }
    .section-extra--product .container .div-extra .extra-text p{
      font-size: 1.2rem;
    }

  }

 @media (max-width:857px){
  .hero-section .hero-heading {
    font-size: 3rem;
    width: 110%;
}
.hero-section .hero-paragraph {
  width: 110%;
  padding-bottom: 0;
}
.hero-section img {
  width:95%;
  height: auto;
}
.section-extra--product .grid-three--cols{
 grid-template-columns: repeat(2,1fr);
 margin: 0 8rem;
 row-gap:0;
}

.section-extra--product .grid-three--cols > div:nth-child(3){
  margin-top: 4.5rem;
}

.section-extra--product .container .div-extra{
  width:30rem;
  height: auto;
}
.product-card{
  max-width:88%;
  padding-left:2rem;
  display: grid;
  place-items: center;
}

.footer-section .container{
  margin: 0 3rem;
  display: grid;
  column-gap: 0;
  margin:2rem;
 
}

.footer-section .container .download-part{
  text-align: left;
}

.footer-section .container .logo-parts .logo-content .logo-para{
  width: 100%;
  height: auto;
}

  /* for single product details page. */
  .product-container {
       & .image-section img{
        width:170%;
        height: auto;
        padding-right: 10rem;
    }
  }

     .product-container .text-section {
      padding-left: 5rem;
  }

 }
  
  /*  large Mobile Devices */
@media (max-width: 768px) {
  .navbar-section {
    position: relative;
    position: fixed;
    top: 0;
    z-index: 1000;
  }

  .navbar-section .container {
    margin: 0 4rem;
  }

  .navbar-section .container .mobile-nav-con {
    display: block;
  }

  .navbar-section .container .mobile-nav-con .mobile-icons {
    width: 4rem;
    height: 4rem;
    color: var(--heading-color);
    font-weight: bold;
    z-index: 999;
  }

  .navbar-section .container .mobile-nav-con .mobile-icons[name="close-outline"] {
    display: none;
  }

  .navbar-section .container .navbar-list {
    width: 65vw;
    max-width: 400px;
    height:95vh;
    background: linear-gradient(to right, #111111, #1a1a1a);
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    transform: translateX(100%);
    transition: all 0.3s linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
  }

  .navbar-section .container .navbar-list .list-items {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    padding-top: 5rem;
  }

  .navbar-section.active .container .navbar-list {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }

  .navbar-section.active .container .mobile-nav-con .mobile-icons[name="close-outline"] {
    display: block;
  }

  .navbar-section.active .container .mobile-nav-con .mobile-icons[name="menu-outline"] {
    display: none;
  }

  #cart-page--icon {
    margin-left: 35rem;
    font-size: 2rem;
  }


 .hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;  /* centers vertically */
  align-items: center;      /* centers horizontally */
  min-height: 100vh;
  padding-top: 7rem;
}

.hero-section .container{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  padding-top: 8rem;
  padding-bottom: 5rem;
  margin: 0 8rem;
}

  .hero-section .container .hero-section--images img{
    width:50%;
    height: auto;
    margin-left: 20%;
  }

  main {
    & .hero-section .grid {
        align-items: center;
        gap: 4rem;
    }
}

.hero-section .container .hero-content .hero-paragraph{
  width: 100%;
  height: auto;
  
}

.hero-section .container .hero-content {
padding-left: 1rem;
}

.hero-section .container .hero-content .hero-heading {
  padding-top: 0.8rem;
    
  }

      .extra-section{
        width: 100%;
        height: auto;
        
      }
    .extra-section .grid-two--column{
      grid-template-columns: repeat(1,1fr);
     
    }

    .extra-section .container .extra-image img {
      width: 50%;
      height: auto;
      margin-bottom: 2rem;
      margin-left: 3rem;
  }

  .extra-section .container .extra-content{
    width: 100%;
    padding-right: 3rem;
  }
  .extra-section .container .extra-content .extra-subheading{
    padding-left: 6rem;
  }
  .extra-section .container .extra-content .extra-heading{
    padding-left: 2rem;
    font-size: 2.5rem;
    width:100%;
  }
  .extra-section .container .extra-content .extra-paragraph{
    margin: 0.1rem 0 2.5rem 0;
    padding-left: 2rem;
    width: 113%;
    
  }
  .extra-section .container{
    margin: 0 8rem;
    margin-bottom:3rem;
  }
  .extra-section .container .extra-content .extra-pricetext{
    padding-left: 2rem; 
  }
  .extra-section .container .extra-content .extra-price{
    padding-left: 2rem; 
  }
  .extra-section .container .extra-content .anchor-button{
    margin-left: 1rem;
  }
  .section-extra--product .grid-three--cols{
    grid-template-columns: repeat(2,1fr);
    margin: 0 8rem;
    margin-top:10rem;
    padding-top: 8rem;
   }
   .section-extra--product .container{
    margin-left: 8rem;
    margin-right: 8rem;
   }
   .section-extra--product .container .div-extra{
    width:25rem;
    height: auto;
  }
  .section-extra--product .grid-three--cols > div:nth-child(1),
  .section-extra--product .grid-three--cols > div:nth-child(2){
    margin-top: 8.5rem;
  }

  .product-section .container .product-container{
    display: grid;
    column-gap:0;
    grid-template-columns: repeat(2,1fr);
    row-gap: 7rem;
  }

  .product-card{
    max-width:84%;
    padding-left:2rem;
    display: grid;
    place-items: center;
  }

  .customer-reviews .container{
    margin: 0 7.5rem;
  }
  
  .customer-reviews .container{
    margin-top: 5.5rem;
  
  }

  .footer-section .container{
    margin: 0 3rem;
   
  }

    .download-part .download-ico{
      width:20rem;
      height: auto;
    }


  .navbar-log .logo {
    font-size: 2.8rem;
    font-weight: bold;
    padding-left:0;
    margin-left:0;
}

.footer-section .container{
  display: grid;
  column-gap: 5rem;
 
}

.footer-section .container .download-part .download-para{
  width: 100%;
  height: auto;
}

/* for single product details page. */
.single .product-container .grid-two--column{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 1.7rem;
  
}

  .product-container {
  .image-section {
    img {
      width: 70%;
      height: auto;
      padding-left: 4rem;
    }
  }
}

 .product-container{
    & .grid-two--column{
        gap: 2rem;
        padding-left: 4rem;
    }
  }
 /* code for the contact page */
    .contact-form{
      margin: 0 8rem;
}
  .google-map h2{

    font-size: 2.7rem;
    margin:0 6rem;
    
  }


  /* for the cart page  */
   
    .remove-to-cart-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3.6rem; /* fixed size */
    height: 3.6rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    position: relative;

    /* Completely hide original text */
    text-indent: -9999px;
    overflow: hidden;
  }

  .remove-to-cart-button::before {
    content: "🗑";
    font-size: 2rem;
    font-weight: bold;
    text-indent: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

  
   .addToCartElement .container {
    margin: 0 2rem;
  }

  #productCartContainer .cards .card {
    gap: 0.8rem; /* tighter spacing */
    grid-template-columns: 0.6fr 1fr 0.8fr 0.8fr 1fr 0.2fr; /* maintain layout */
  }

  .productName,
  .productPrice,
  .productQuantity {
    font-size: 1.3rem;
  }

  .productImage {
    width: 6rem;
  }

  .stockElement {
    display: flex;
    justify-content: flex-end;
    gap: 0.4rem;
    padding: 0.4rem 0.6rem;
  }

  .stockElement button {
    font-size: 1.5rem;
    padding: 0.3rem 0.5rem;
  }

  .remove-to-cart-button {
    justify-self: end;
    font-size: 1.4rem;
    padding: 0.2rem 0.4rem;
    
  }

  .cart-summary-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 4rem;
}
 
    /* code for the about page */
  .about-image img {
    width:60%; 
    padding-bottom:5rem;
  }
  .about-grid {
    grid-template-columns: 1fr;
    text-align: center;
   }
   .about-content p {
    color: var(--light-text);
    width:100%;
    }
   .about-page{
    margin:0 7rem;
  }
  .value-card i {
    font-size: 3rem;
 }
  .value-card h3 {
    font-size: 1.8rem;
  }
  .value-card p {
    color: var(--light-text);
    font-size:1.6rem;
}
 .value-card{
  padding: 2rem 1.5rem;
 }
}

/* code for the cart-icon maintaining according to screen size. */

@media (max-width: 700px) {
  #cart-page--icon {
    margin-left: 30rem;
    font-size: 2rem;
  }

  .extra-section .container .extra-image img {
    width: 50%;
    height: auto;
}
.extra-section .container .extra-content .extra-paragraph{
  padding-left: 2rem;
  width: 115%;
  
}

}

@media (max-width: 660px) {
  #cart-page--icon {
    margin-left: 25rem;
    font-size: 2rem;
  }

  
.section-extra--product .grid-three--cols{
  margin-top:9rem;
  padding-top: 7rem;
 }

 /* code for the single details product page */

  .product-container {
  .image-section {
    img {
      width: 90%;
      height: auto;
      padding-left: 4rem;
    }
  }
}

  .product-container .text-section  .product-description{
    & #description{
      width: 95%;
  } 
  }

}

@media (max-width: 600px) {
  #cart-page--icon {
    margin-left: 20rem;
    font-size: 2rem;
  }
  .extra-section .container .extra-content .extra-paragraph{
    padding-left: 2rem;
    width: 125%; 
  }
  .section-extra--product .container{
    margin-left: 6.5rem;
    margin-right:6.5rem;
   }
   .section-extra--product .grid-three--cols{
    grid-template-columns: repeat(1,1fr);
    margin-top:8rem;
    row-gap:0;
   }
   .section-extra--product .container .div-extra{
    width:100%;
    height: auto;
  }
  .section-extra--product .container .grid-two--column{
    gap:5rem;
  }
  .section-extra--product .container .div-extra .extra-text p{
    font-size:1.4rem;
  }
  .section-extra--product .container .div-extra .extra-text h3{
    font-size:1.9rem;
  }
  .section-extra--product .container .div-extra .extra-text a{
    font-size:1.3rem;
  }
  .section-extra--product .container .div-extra .extra-img img {
    width: 18rem;
    height: auto;
}

.section-extra--product .grid-three--cols > div:nth-child(2),
.section-extra--product .grid-three--cols > div:nth-child(3) {
  margin-top:4rem; /* or any smaller value you prefer */
}

.product-card{
  max-width:90%;
  padding-left:2rem;
  display: grid;
  place-items: center;
}

.product-section .container{
  margin: 0 5.3rem;
}
.customer-reviews .container{
  margin: 0 5.3rem;
}
.product-section .container .product-container{
display: grid;
column-gap: 2rem;
}

.customer-reviews .container{
  margin-top: 5rem;

}

}

@media (max-width:595px){

  .navbar-section .container{
    padding: 1rem;
  }

  .navbar-section .container {
    margin: 0 2.3rem;
  }
  .hero-section .container{
    margin: 0 6.5rem;
  }
  .extra-section .container{
    margin: 0 6.5rem;
    /* margin-bottom:15rem; */
  }
  
} 


@media (max-width: 550px) {
  .navbar-section .container {
    margin: 0 2rem;
  }
  .hero-section .container{
    margin: 0 6.5rem;
  }
  #cart-page--icon {
    margin-left: 15rem;
    font-size: 2rem;
  }

  .product-card{
    max-width:120%;
    padding-left:2rem;
    display: grid;
    place-items: center;
  }
  .product-heading{
    font-size: 1.6rem;   
}
.addTo-cart--btn{
  width:15rem;
  height: 2.5rem;
  & i
  {
          font-size: 1.5rem;
          color:var(--heading-color);
      }
      & p{
        font-size: 1.4rem;
        font-weight: 600;
        color:var(--heading-color);
    }
}
.product-price{
  font-size: 1.5rem;
  color:var(--secondaryColor);
  padding-left: 2rem;
  font-weight: 600;
  text-align: center;
}

.footer-section .container{
  margin: 0 4rem;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  
 
}

.navbar-log .logo {
  margin-left: 11rem;
}

/* code for the single product details page */
.single .product-container .grid-two--column{
  margin: 0 5rem;
  padding-left:0;
}

.about-image img {
    width:80%; 
    padding-bottom:5rem;
  }

} 

  /* Small Devices */
 @media (max-width: 480px) {
    .navbar-section .container {
      margin: 0 1rem;
    }

    .navbar-section .container{
      padding: 0.8rem;
    }

    .hero-section .hero-content{
      padding-left: 0.7rem;
      width: 100%;
    }

    .hero-section .hero-paragraph{
      width: 100%;
      margin: 1.7rem 0 1.7rem 0;
  }
    

    .hero-section .container{
      margin: 0 3rem;
      padding-left: 1rem;
    }
      
  .hero-section .container .hero-section--images img{  
   width: 60%;
   height: auto;
   }
   .hero-section .hero-content .anchor-button{
    font-size: 1.7rem;
    width: 20rem;
    height: 2.7rem;
    margin-top: 2rem;
   }
    

    #cart-page--icon {
      margin-left: 15rem;
      font-size: 2rem;
    }

    .extra-section .container{
      margin: 0 3rem;
      padding-left: 1rem;
      margin-bottom: 2rem;
      padding-bottom:0;
    }
    .extra-section .container .extra-content .extra-heading {
      width: 135%;
  }

  .extra-section .container .extra-image img {
    width: 60%;
    height: auto;
    margin-bottom: 2rem;
    margin-left: 1rem;
}
.section-extra--product .container{
  margin-left:3rem;
  margin-right:3rem;
  padding-left: 1rem;
 }
 .section-extra--product .grid-three--cols{
  margin-top: 5rem;
  padding-top: 7rem;
 }

    .section-extra--product .container .div-extra {
        width:80vw;
        height: auto;

        & .extra-text{
          width: 100%;
        }
    }

.section-extra--product .grid-three--cols > div:nth-child(2),
.section-extra--product .grid-three--cols > div:nth-child(3) {
  margin-top:3.5rem; /* or any smaller value you prefer */
}
.section-extra--product .container .div-extra .extra-text p {
  width:200%;
}


.product-card .information .product-rating{
  display:none;
}
.product-card .information .product-price{
  display:none;
}

.product-card .information .addTo-cart--btn{
  display:none;
}
.product-section .container{
  margin: 0 3rem;
}
.customer-reviews .container{
  margin: 0 3rem;
}

.product-section .container .product-container{
  display: grid;
  column-gap: 3.5rem;
  row-gap: 6rem;
  }

  .product-heading{
    font-size: 1.5rem;
    color:var(--textColor);
    margin: 0 auto;
    padding-left:0;
    text-align: center;
}
.product-card .product-img{
  width:100%;
  height: auto;
  text-align: center;
}

.product-section .container .product-head{
  font-size: 2.4rem;
}

.customer-reviews .container .reviews-heading h2{
  font-size: 2.4rem;

}

.customer-reviews .container{
  margin-top: 4rem;

}

.navbar-log .logo {
  margin-left: 7rem;
}

.footer-section .container{
  display: grid;
  row-gap: 4.5rem;
 
}

/* code for the single product details page */
  .product-container {
  .image-section {
    img {
      width: 100%;
      height: auto;
      padding-left: 4rem;
    }
  }
}

.product-container .text-section{
   & .product-description{
       #description{
                font-size: 1.6rem;
            } 
}
   #product-heading{
            font-size: 2.4rem;
             }
  }

.product-container {
    & .text-section {
        .total-stock {
            margin-top: 1.6rem;
             & .stock-line{
                font-size:1.8rem;
            }
        }
          & .total-quantity {
            & .quantity-line {
                font-size:1.8rem;
            }
        }
    }
}

 .contact-form{
      margin: 0 2rem;
}
  .google-map h2{

    font-size: 2.7rem;
    margin:0 3rem;
    
  }

  .google-map{
  padding-top:10rem;
  
  & h2{
    padding-bottom: 1rem; 
  }
   & .container-map{
    padding-top: 2rem;
   
  }
  }

  .form-container {
    width: 90%;
    height: auto;
    margin: 5rem auto;
    padding: 2rem 1rem;
  }

  .form-container .form-title {
    font-size: 2.4rem;
  }

  .form-container .underline {
    width: 20%;
  }

  .form-container .form-text {
    margin-top: 2rem;
  }

  .form-container .form-text .input-text {
    width: 100%;
    margin: 0 auto 1.5rem auto;
    padding: 1rem;
  }

  .form-container .form-text .input-text i {
    font-size: 1.6rem;
  }

  .form-container .form-text .input-text input {
    font-size: 1.5rem;
    width: 100%;
  }

  .form-container .form-text .signin-signup {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .form-container .form-text .signin-signup .signup,
  .form-container .form-text .signin-signup .signin {
    width: 80%;
    margin: 1rem 0;
  }

  .form-text .error {
    font-size: 1.5rem;
    padding: 0 1rem;
    word-wrap: break-word;
  }
  

  /* for the cart page */
   .addToCartElement .container {
    margin: 0 1rem;
  }

   .productName,
  .productPrice,
  .productQuantity {
    font-size: 1.3rem !important;
  }
  
.addToCartElement {
  margin: 7rem 0;
  padding-top: 4rem;
}
 
.total-amount {
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  color: var(--secondaryColor);
}
.btn {
  padding: 0.4rem 1.4rem;
  font-size: 1.5rem;
}

  .about-page{
    margin:0 3rem;
    padding-top: 7rem;
  }
 
  .about-hero h1 {
    font-size: 2.7rem;
  }
   
    .about-hero p {
        font-size: 1.8rem
    }
    .about-content h2 {
    font-size: 2.7rem;
   }

    .about-content p {
       font-size: 1.8rem
    }
        .value-card {
        padding: 1.7rem 1.2rem;
    }


  }


  @media (max-width: 435px) {
    #cart-page--icon {
      margin-left: 10rem;
      font-size: 2rem;
    }

    .extra-section .container .extra-content .extra-subheading {
      width: 200%;
  }

  }

  @media (max-width:420px){
    .navbar-log .logo {
      margin-left: 4rem;
    }
    /* code for the single product details page */
      .product-container {
     .image-section {
           img {
              width:120%;
               height: auto;
               padding-left: 0.2rem;
    }
  }
}

  .product-container .text-section {
      padding-left:1rem;
  }

   .productImage {
    width: 6rem !important;
  }


  }  

   
  @media (max-width: 380px) {
    #cart-page--icon {
      margin-left: 7rem;
      font-size: 2rem;
    }

    .hero-section .container{
      margin: 0 2rem;
      
    }
    .navbar-section .container {
      margin: 0 0.7rem;
    }

    .hero-section .hero-heading{
    font-size: 2rem;  
      margin-top: 0.7rem;
      font-size:2.7rem;
    }
    .hero-section .hero-paragraph{
      font-size: 1.8rem;
  }
  .hero-section .container .hero-section--images img {
    width: 70%;
    margin: 0;
    margin-left: 3rem;
    margin-top: 1rem;
}

  .extra-section .container .extra-content .extra-heading {
    width: 140%;
    font-size:2.4rem;
    padding-left: 0rem;
}

.extra-section .container .extra-content .extra-paragraph {
  padding-left:0.3rem;
  width: 135%;
  font-size: 1.8rem;
}
.extra-section .container{
  margin: 0 2rem;
  padding-left: 1rem;
  margin-bottom: 4rem;
}

.extra-section .container .extra-image img {
  width:75%;
  height: auto;
  padding-right: 2rem;
  margin-left: -1rem;
  
}
.section-extra--product .container{
  margin-left:2rem;
  margin-right:2rem;
  padding-left: 1rem;
  margin-top: 4rem;
 }

 .product-section .container {
        & .product-head {
            margin-top:7rem;
        }
    }


 .section-extra--product .container .div-extra .extra-text h3 {
  font-size: 1.65rem;
  width:180%;
}
.section-extra--product .container .div-extra .extra-text a {
  font-size: 1.2rem;
  width:50rem;
}

.product-section .container{
  margin: 0 2rem;
}
.customer-reviews .container{
  margin: 0 2rem;
}
.product-card .product-img{
  width:120%;
  height: auto;
  text-align: center;
}

.customer-reviews .container{
  margin-top: 3rem;

}
.section-extra--product .grid-three--cols{
  margin-top:2rem;
  padding-top: 3rem;
  
 }
 
  .stockElement {
    padding: 0 !important; /* Force remove padding */
  }

}

  
  /* Very Small Devices */
  @media (max-width: 350px) {
    .navbar-section .container {
      margin: 0 1rem;
    }

    #cart-page--icon {
      margin-left: 4rem;
      font-size: 2rem;
    }
    .section-extra--product .container .div-extra .extra-text h3 {
      font-size: 1.4rem;
      width: 230%;
    }
    .section-extra--product .container .div-extra .extra-text p {
      font-size: 1.2rem;
      width: 300%;
  }
  .section-extra--product .container .div-extra .extra-text a {
    font-size: 1.2rem;
    width: 300%;
}

.product-section .container{
  margin: 0 5rem;
}
.customer-reviews .container{
  margin: 0 5rem;
}

.product-card .product-img{
  width:100%;
  height: auto;
  text-align: center;
}
.product-card{
  max-width:90%;
  padding-left:2rem;
  display: grid;
  place-items: center;
}

.product-section .container .product-container{
  display: grid;
  column-gap:1.5rem;
  row-gap: 4rem;
  }
 
  .product-section .container .product-head{
    font-size:2.1rem;
    padding-left: 0;
  }

  .customer-reviews .container .reviews-heading h2{
    margin-top: 2rem;
    font-size:2.1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
   
  }
  
  /* code for the single product details page */
  .single .product-container .grid-two--column{
    margin: 0 1rem;
    padding: 0 2rem;
  }
 
        .product-container {
          .image-section {
              img {
                  width:100%;
                   height: auto;
                   padding-left: 0.2rem;
    }
  }
}

 .product-container .text-section {
      padding-left:1rem;
  }
  
    .addToCartElement .container {
      margin: 0 0.4rem;
    }

  .remove-to-cart-button {
    margin: 0 !important;       /* Remove margin */
    padding: 0 !important;      /* Remove padding */
    background-color: white !important;  /* Set background to white */
    color: red !important;      /* Make text/icon red for emphasis */
    font-size: 1rem;            /* Slightly smaller font */
    border: none !important;    /* Remove border if any */
    position: relative;         /* Needed if you use ::before for icon */
    font-weight: bold;
  }

      .about-hero h1 {
        width:30rem;
        padding-right: 0.7rem;
    }


  }
  
  
  @media (min-width:1369px){
    .section-extra--product .grid-three--cols{ 
      gap:2rem;    
    }

  }
  
  /**** End Responsive Code *****/
 
